/* Basic box class for testing */
.box {
  background-color: lightblue;
  border: 1px solid black;
  min-height: 25px;
  font-size: 2rem;
}

/* Audiowide regular from Google Fonts */
.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}