{% extends "guest/base.html" %}
{% block title %} Will's Routines {% endblock %}
{% block content %}

<div class="row">
  <div class="col my-4">
   <h1 class="text-center">Will's Routines</h1>
  </div>
</div>

<div class="row gy-4">
{% for template in workout_templates %}
<div class="col-12">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <h3 class="card-title">{{ template.name }}</h3>
      <p class="card-text">{{ template.description }}</p>
      <div class="btn-group" role="group">
        <a href="{% url 'guest_routines_detail' routine.id %}" class="btn btn-primary bg-primary">view</a>
        <a href="{% url 'home' %}" class="btn btn-primary bg-primary disabled">edit</a>
        <a href="{% url 'home' %}" class="btn btn-primary bg-danger disabled">delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="col-12"></div>
</div>
{% endblock %}