{% extends "guest/base.html" %}
{% block title %}{{ routine.name }} Detail {% endblock %}
{% block content %}

<!-- Page title with workout name and details -->
<div class="row">
  <div class="col">
    <h1 class="text-center">{{ routine.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="text-center">{{ routine.description }}</p>
  </div>
</div>

<!-- Turn each exercise for the routine into a card -->
<div class="row gy-4">
  {% for re in routine_exercises %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ re.exercise.name }}</h3>
        {% if re.description %}
          <p class="card-text">{{ re.description }}</p>
        {% endif %}
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Set</th>
                <th>Weight (lbs)</th>
                <th>Reps</th>
              </tr>
            </thead>
            <tbody>
              {% for rs in re.sets.all %}
                <tr>
                  <td>{{ rs.order }}</td>
                  <td>{{ rs.weight }}</td>
                  <td>{{ rs.reps }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3" class="text-center">No sets recorded for this exercise.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<a href="javascript:history.back()" class="btn btn-primary bg-primary">Back</a>

{% endblock %}