{% extends "user/base.html" %}
{% block title %} Create Workout Template {% endblock %}
{% block content %}

<div class="row">
  <div class="col">
    <h1 class="text-center">Create a Routine</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form method="POST" action="" class="container mt-4 p-4 border rounded shadow-sm">
      {% csrf_token %}

      <div class="mb-3">
        <label for="{{ form.label.id_for_label }}" class="form-label">Routine Name</label>
        {{ form.name }}
      </div>
       

      <button type="submit" class="btn btn-primary bg-primary">Create</button>
    </form>
  </div>
</div>

{% endblock %}