{% extends "user/base.html" %}
{% block title %} {{request.user}}'s Routines {% endblock %}
{% block content %}

<div class="row">
  <div class="col">
   <h1 class="text-center">{{request.user}}'s Routines</h1>
  </div>
</div>

<div class="row gy-4">
{% for template in workout_templates %}
<div class="col-12">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <h3 class="card-title">{{ template.name }}</h3>
      <p class="card-text">{{ template.description }}</p>
      <div class="btn-group" role="group">
        <a href="{% url 'routines_detail' template.id %}" class="btn btn-primary bg-primary">view</a>
        <a href="{% url 'home' %}" class="btn btn-primary bg-primary disabled">edit</a>
        <a href="{% url 'home' %}" class="btn btn-primary bg-danger disabled">delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
<div class="row gy-4">
  <div class="col justify-content-center d-flex">
    <a href="{% url 'create_routine' %}" class="btn btn-primary bg-primary mt-3">Create a new routine</a>
  </div>
</div>

{% endblock %}