<form method="POST" action="">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="fas fa-user"></i>
      </span>
    </div>
    
    <input type="text" name="username" class="form-control" placeholder="Username...">
  </div>
  
  <div class="input-group mb-2">
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="fas fa-lock"></i>
    </div>

    <input type="password" name="password" class="form-control" placeholder="Password...">
  </div>
  
  <input type="submit" name="Login">
</form>